p Be patient. Our neural network is processing your data.

header
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
    script(src="https://cdn.plot.ly/plotly-latest.min.js")
body
    h1 Visualized Data
    div(id="wrapper")
        div(id="chart")
            script(src="/connect.js")